
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- main wavesurfer.js lib -->
       <script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js"></script>
<nav class="shift">
    <ul>
      <li><a href="http://localhost:3000/">Hindi</a></li>
      <li><a href="http://localhost:3000/tamil">Tamil</a></li>
      <li><a href="http://localhost:3000/telugu">Telugu</a></li>
      <li><a href="http://localhost:3000/kannada">Kannada</a></li>
    </ul>
  </nav>

  <div class="jumbotron"><h1 class="font-size:400px;">Telugu</h1></div>
<div id="waveform-timeline"></div>
<div id="waveform" style="width: 500px; position: relative; left: 400px;"></div>


<div style="text-align: center">
  
  <button class="btn btn-primary" onclick="wavesurfer.playPause()">
    <i class="glyphicon glyphicon-play"></i>
    Play
  </button>

  <p class="row">
    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </div>

    <div class="col-xs-10">
      <input id="slider" type="range" min="1" max="200" value="1" style="width: 100px;" />
    </div>

    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-out"></i>
    </div>
  </p>
</div>
<button class="collapsible btn btn-primary" >Subwords</button>
<div class="content container">
  <div class="jumbotron">
    <h1>SubWords</h1>   
    </div>         
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>Utterance</b></td>
          <td>నేను మీ అతిథిని అని కాదు</td>
        </tr>
        <tr>
          <td><b>Transliteration</b></td>
          <td>Nēnu mī atithini ani kādu</td>
        <tr>
          <td><b>Subword units</b></td>
          <td>Nēnu mī atithini ani kādu</td>
        </tr>
      </tbody>
    </table>
<table>
    <tbody>
      <tr>
    <td><div id="waveform_1" style="width: 500px; position: relative; left: 300px;"></div></td>
    <td><button  style="position: relative; top: -60px; left: 400px;" class="btn btn-primary" onclick="wavesurfer_1.playPause()">
        <i class="glyphicon glyphicon-play"></i>
        Nenu
      </button></td>
    </tr>
    <tr>
        <td><div id="waveform_2" style="width: 500px; position: relative; left: 300px;"></div></td>
        <td><button style="position: relative;  top: -80px; left: 400px;" class="btn btn-primary" onclick="wavesurfer_2.playPause()">
            <i class="glyphicon glyphicon-play"></i>
            mi
          </button></td>
        </tr>
  
        <tr>
            <td><div id="waveform_3" style="width: 500px; position: relative; left: 300px;"></div></td>
            <td><button  style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_3.playPause()">
                <i class="glyphicon glyphicon-play"></i>
                ati
              </button></td>
            </tr>
            <tr>
                <td><div id="waveform_4" style="width: 500px; position: relative; left: 300px;"></div></td>
                <td><button style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_4.playPause()">
                    <i class="glyphicon glyphicon-play"></i>
                    thini
                     </button></td>
                </tr>
                <tr>
                    <td><div id="waveform_5" style="width: 500px; position: relative; left: 300px;"></div></td>
                    <td><button  style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_5.playPause()">
                        <i class="glyphicon glyphicon-play"></i>
                        ani
                      </button></td>
                    </tr>
                    <tr>
                        <td><div id="waveform_6" style="width: 500px; position: relative; left: 300px;"></div></td>
                        <td><button style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_6.playPause()">
                            <i class="glyphicon glyphicon-play"></i>
                            kadu
                          </button></td>
                        </tr>
    
  </tbody>
  </table>
  </div>
<button class="collapsible btn btn-primary">Syllables</button>
<div class="content">
    <div class="content container">
        <div class="jumbotron">
          <h1>Syllables</h1>   
          </div>         
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><b>Utterance</b></td>
                <td>నేను మీ అతిథిని అని కాదు</td>
              </tr>
              <tr>
                <td><b>Transliteration</b></td>
                <td>Nēnu mī atithini ani kādu</td>
              <tr>
                <td><b>Syllables</b></td>
                <td>Nē nu mī ati thini ani kā du</td>
              </tr>
            </tbody>
          </table>
      <table>
          <tbody>
            <tr>
          <td><div id="waveform_7" style="width: 500px; position: relative; left: 300px;"></div></td>
          <td><button  style="position: relative; top: 0px; left: 400px;" class="btn btn-primary" onclick="wavesurfer_7.playPause()">
              <i class="glyphicon glyphicon-play"></i>
              Ne
            </button></td>
          </tr>
          <tr>
              <td><div id="waveform_8" style="width: 500px; position: relative; left: 300px;"></div></td>
              <td><button style="position: relative;  top: 0px; left: 400px;" class="btn btn-primary" onclick="wavesurfer_8.playPause()">
                  <i class="glyphicon glyphicon-play"></i>
                  nu
                </button></td>
              </tr>
        
              <tr>
                  <td><div id="waveform_9" style="width: 500px; position: relative; left: 300px;"></div></td>
                  <td><button  style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_9.playPause()">
                      <i class="glyphicon glyphicon-play"></i>
                      mi
                    </button></td>
                  </tr>
                  <tr>
                      <td><div id="waveform_10" style="width: 500px; position: relative; left: 300px;"></div></td>
                      <td><button style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_10.playPause()">
                          <i class="glyphicon glyphicon-play"></i>
                          ati
                        </button></td>
                      </tr>
                      <tr>
                          <td><div id="waveform_11" style="width: 500px; position: relative; left: 300px;"></div></td>
                          <td><button  style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_11.playPause()">
                              <i class="glyphicon glyphicon-play"></i>
                              th
                            </button></td>
                          </tr>
                          <tr>
                              <td><div id="waveform_12" style="width: 500px; position: relative; left: 300px;"></div></td>
                              <td><button style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_12.playPause()">
                                  <i class="glyphicon glyphicon-play"></i>
                                  ni
                                </button></td>
                              </tr>
                              <tr>
                                  <td><div id="waveform_13" style="width: 500px; position: relative; left: 300px;"></div></td>
                                  <td><button style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_13.playPause()">
                                      <i class="glyphicon glyphicon-play"></i>
                                      ani
                                    </button></td>
                                  </tr>  
                                  <tr>
                                      <td><div id="waveform_14" style="width: 500px; position: relative; left: 300px;"></div></td>
                                      <td><button style="position: relative; left: 400px;" class="btn btn-primary" onclick="wavesurfer_14.playPause()">
                                          <i class="glyphicon glyphicon-play"></i>
                                          kadu
                                        </button></td>
                                      </tr> 
